.product-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px 80px;
  grid-gap: 30px;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: lightslategrey;
}
.img {
  width: 300px;
  height: 250px;
  background-color: lightgrey;
}
.content {
  width: 100%;
}
.price-btn {
  display: flex;
  justify-content: space-between;
}
.price-btn span {
  font-size: 2rem;
  font-weight: 600;
  color: white;
}
.price-btn .btn {
  padding: 10px 30px;
  font-size: 1.2rem;
  font-weight: 600;
  background-color: lightcoral;
  border: none;
  color: white;
  cursor: pointer;
}
.loading {
  width: 80vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
